h1 {
  color: #e96800;
}

.weather-widget {
  border: solid;
  width: auto;
  height: auto;
  display: flex;
  margin: 100px;
}

.current-weather {
  border: solid;
  margin: 100px;
}

.weather-forecasts {
  border: solid;
  margin: 100px;
}
