h1 {
  color: #e96800;
}

.weather-widget {
  border: solid;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 100px;
  padding: 30px;
}

.current-weather {
  border: solid;
  margin: 10px;
}

.weather-forecasts {
  border: solid;
  display: flex;
  flex-direction: row;
  margin: 10px;
}
