h1 {
  color: #e96800;
}

h3 {
  color: white;
}

.weather-widget {
  background-color: #233343;
  border: solid;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 100px;
  padding: 30px;
}

.current-weather {
  border: solid;
  margin: 10px;
}

.weather-forecasts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
}

.high-temperature {
  color: #ed5a54;
}

.low-temperature {
  color: #3f88c5;
}

.a-day-of-forecasts {
  border: solid;
  border-radius: 25px;
  border-color: #18232e;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 128px;
  background-color: #18232e;
}
.icon-phrase {
  height: 44px;
}
